  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    padding-top: 10%;
  }
  .attribution {
    text-align: center;
    /* Other styling as needed */
  }

  #qr {
    width: 290px;
    height: 290px;
    /* Remove align-items and display styles from here */
  }

  img {
    border-radius: 10px;
  }

  html, body{
    height: 100%;
    background-color: hsl(212, 45%, 89%);
  }
  .card {
    background-color: white; /* Set the background color to white */
    padding: 20px; /* Add padding inside the card */
    text-align: center; /* Center the text and image */
    border-radius: 10px;
    width: 300px;
    height: 450px;
    /* Add more styles as needed for positioning, sizing, and box-shadow for a card-like appearance */
  }

  .scan {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
  }

  .c2a {
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
  }